{{!template-lint-disable block-indentation}}
<span class="whitespace">

  one
  two

  three </span>

<span class="array">

  one

</span>
<span class="array">

  two

<span>three</span>
<span>four</span>
</span>
